<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: prompt.go in package github.com/manifoldco/promptui</title>
<link href="../../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	prompt.go

<span class="title">Belonging Package</span>
	<a href="../../../../pkg/github.com/manifoldco/promptui.html">github.com/manifoldco/promptui</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>package promptui</code></span>
<span class="codeline" id="line-2"><code></code></span>
<span class="codeline" id="line-3"><code>import (</code></span>
<span class="codeline" id="line-4"><code>	"fmt"</code></span>
<span class="codeline" id="line-5"><code>	"io"</code></span>
<span class="codeline" id="line-6"><code>	"strings"</code></span>
<span class="codeline" id="line-7"><code>	"text/template"</code></span>
<span class="codeline" id="line-8"><code></code></span>
<span class="codeline" id="line-9"><code>	"github.com/chzyer/readline"</code></span>
<span class="codeline" id="line-10"><code>	"github.com/manifoldco/promptui/screenbuf"</code></span>
<span class="codeline" id="line-11"><code>)</code></span>
<span class="codeline" id="line-12"><code></code></span>
<span class="codeline" id="line-13"><code>// Prompt represents a single line text field input with options for validation and input masks.</code></span>
<span class="codeline" id="line-14"><code>type Prompt struct {</code></span>
<span class="codeline" id="line-15"><code>	// Label is the value displayed on the command line prompt.</code></span>
<span class="codeline" id="line-16"><code>	//</code></span>
<span class="codeline" id="line-17"><code>	// The value for Label can be a simple string or a struct that will need to be accessed by dot notation</code></span>
<span class="codeline" id="line-18"><code>	// inside the templates. For example, `{{ .Name }}` will display the name property of a struct.</code></span>
<span class="codeline" id="line-19"><code>	Label interface{}</code></span>
<span class="codeline" id="line-20"><code></code></span>
<span class="codeline" id="line-21"><code>	// Default is the initial value for the prompt. This value will be displayed next to the prompt's label</code></span>
<span class="codeline" id="line-22"><code>	// and the user will be able to view or change it depending on the options.</code></span>
<span class="codeline" id="line-23"><code>	Default string</code></span>
<span class="codeline" id="line-24"><code></code></span>
<span class="codeline" id="line-25"><code>	// AllowEdit lets the user edit the default value. If false, any key press</code></span>
<span class="codeline" id="line-26"><code>	// other than &lt;Enter&gt; automatically clears the default value.</code></span>
<span class="codeline" id="line-27"><code>	AllowEdit bool</code></span>
<span class="codeline" id="line-28"><code></code></span>
<span class="codeline" id="line-29"><code>	// Validate is an optional function that fill be used against the entered value in the prompt to validate it.</code></span>
<span class="codeline" id="line-30"><code>	Validate ValidateFunc</code></span>
<span class="codeline" id="line-31"><code></code></span>
<span class="codeline" id="line-32"><code>	// Mask is an optional rune that sets which character to display instead of the entered characters. This</code></span>
<span class="codeline" id="line-33"><code>	// allows hiding private information like passwords.</code></span>
<span class="codeline" id="line-34"><code>	Mask rune</code></span>
<span class="codeline" id="line-35"><code></code></span>
<span class="codeline" id="line-36"><code>	// HideEntered sets whether to hide the text after the user has pressed enter.</code></span>
<span class="codeline" id="line-37"><code>	HideEntered bool</code></span>
<span class="codeline" id="line-38"><code></code></span>
<span class="codeline" id="line-39"><code>	// Templates can be used to customize the prompt output. If nil is passed, the</code></span>
<span class="codeline" id="line-40"><code>	// default templates are used. See the PromptTemplates docs for more info.</code></span>
<span class="codeline" id="line-41"><code>	Templates *PromptTemplates</code></span>
<span class="codeline" id="line-42"><code></code></span>
<span class="codeline" id="line-43"><code>	// IsConfirm makes the prompt ask for a yes or no ([Y/N]) question rather than request an input. When set,</code></span>
<span class="codeline" id="line-44"><code>	// most properties related to input will be ignored.</code></span>
<span class="codeline" id="line-45"><code>	IsConfirm bool</code></span>
<span class="codeline" id="line-46"><code></code></span>
<span class="codeline" id="line-47"><code>	// IsVimMode enables vi-like movements (hjkl) and editing.</code></span>
<span class="codeline" id="line-48"><code>	IsVimMode bool</code></span>
<span class="codeline" id="line-49"><code></code></span>
<span class="codeline" id="line-50"><code>	// the Pointer defines how to render the cursor.</code></span>
<span class="codeline" id="line-51"><code>	Pointer Pointer</code></span>
<span class="codeline" id="line-52"><code></code></span>
<span class="codeline" id="line-53"><code>	Stdin  io.ReadCloser</code></span>
<span class="codeline" id="line-54"><code>	Stdout io.WriteCloser</code></span>
<span class="codeline" id="line-55"><code>}</code></span>
<span class="codeline" id="line-56"><code></code></span>
<span class="codeline" id="line-57"><code>// PromptTemplates allow a prompt to be customized following stdlib</code></span>
<span class="codeline" id="line-58"><code>// text/template syntax. Custom state, colors and background color are available for use inside</code></span>
<span class="codeline" id="line-59"><code>// the templates and are documented inside the Variable section of the docs.</code></span>
<span class="codeline" id="line-60"><code>//</code></span>
<span class="codeline" id="line-61"><code>// Examples</code></span>
<span class="codeline" id="line-62"><code>//</code></span>
<span class="codeline" id="line-63"><code>// text/templates use a special notation to display programmable content. Using the double bracket notation,</code></span>
<span class="codeline" id="line-64"><code>// the value can be printed with specific helper functions. For example</code></span>
<span class="codeline" id="line-65"><code>//</code></span>
<span class="codeline" id="line-66"><code>// This displays the value given to the template as pure, unstylized text.</code></span>
<span class="codeline" id="line-67"><code>// 	'{{ . }}'</code></span>
<span class="codeline" id="line-68"><code>//</code></span>
<span class="codeline" id="line-69"><code>// This displays the value colored in cyan</code></span>
<span class="codeline" id="line-70"><code>// 	'{{ . | cyan }}'</code></span>
<span class="codeline" id="line-71"><code>//</code></span>
<span class="codeline" id="line-72"><code>// This displays the value colored in red with a cyan background-color</code></span>
<span class="codeline" id="line-73"><code>// 	'{{ . | red | cyan }}'</code></span>
<span class="codeline" id="line-74"><code>//</code></span>
<span class="codeline" id="line-75"><code>// See the doc of text/template for more info: https://golang.org/pkg/text/template/</code></span>
<span class="codeline" id="line-76"><code>type PromptTemplates struct {</code></span>
<span class="codeline" id="line-77"><code>	// Prompt is a text/template for the prompt label displayed on the left side of the prompt.</code></span>
<span class="codeline" id="line-78"><code>	Prompt string</code></span>
<span class="codeline" id="line-79"><code></code></span>
<span class="codeline" id="line-80"><code>	// Prompt is a text/template for the prompt label when IsConfirm is set as true.</code></span>
<span class="codeline" id="line-81"><code>	Confirm string</code></span>
<span class="codeline" id="line-82"><code></code></span>
<span class="codeline" id="line-83"><code>	// Valid is a text/template for the prompt label when the value entered is valid.</code></span>
<span class="codeline" id="line-84"><code>	Valid string</code></span>
<span class="codeline" id="line-85"><code></code></span>
<span class="codeline" id="line-86"><code>	// Invalid is a text/template for the prompt label when the value entered is invalid.</code></span>
<span class="codeline" id="line-87"><code>	Invalid string</code></span>
<span class="codeline" id="line-88"><code></code></span>
<span class="codeline" id="line-89"><code>	// Success is a text/template for the prompt label when the user has pressed entered and the value has been</code></span>
<span class="codeline" id="line-90"><code>	// deemed valid by the validation function. The label will keep using this template even when the prompt ends</code></span>
<span class="codeline" id="line-91"><code>	// inside the console.</code></span>
<span class="codeline" id="line-92"><code>	Success string</code></span>
<span class="codeline" id="line-93"><code></code></span>
<span class="codeline" id="line-94"><code>	// Prompt is a text/template for the prompt label when the value is invalid due to an error triggered by</code></span>
<span class="codeline" id="line-95"><code>	// the prompt's validation function.</code></span>
<span class="codeline" id="line-96"><code>	ValidationError string</code></span>
<span class="codeline" id="line-97"><code></code></span>
<span class="codeline" id="line-98"><code>	// FuncMap is a map of helper functions that can be used inside of templates according to the text/template</code></span>
<span class="codeline" id="line-99"><code>	// documentation.</code></span>
<span class="codeline" id="line-100"><code>	//</code></span>
<span class="codeline" id="line-101"><code>	// By default, FuncMap contains the color functions used to color the text in templates. If FuncMap</code></span>
<span class="codeline" id="line-102"><code>	// is overridden, the colors functions must be added in the override from promptui.FuncMap to work.</code></span>
<span class="codeline" id="line-103"><code>	FuncMap template.FuncMap</code></span>
<span class="codeline" id="line-104"><code></code></span>
<span class="codeline" id="line-105"><code>	prompt     *template.Template</code></span>
<span class="codeline" id="line-106"><code>	valid      *template.Template</code></span>
<span class="codeline" id="line-107"><code>	invalid    *template.Template</code></span>
<span class="codeline" id="line-108"><code>	validation *template.Template</code></span>
<span class="codeline" id="line-109"><code>	success    *template.Template</code></span>
<span class="codeline" id="line-110"><code>}</code></span>
<span class="codeline" id="line-111"><code></code></span>
<span class="codeline" id="line-112"><code>// Run executes the prompt. Its displays the label and default value if any, asking the user to enter a value.</code></span>
<span class="codeline" id="line-113"><code>// Run will keep the prompt alive until it has been canceled from the command prompt or it has received a valid</code></span>
<span class="codeline" id="line-114"><code>// value. It will return the value and an error if any occurred during the prompt's execution.</code></span>
<span class="codeline" id="line-115"><code>func (p *Prompt) Run() (string, error) {</code></span>
<span class="codeline" id="line-116"><code>	var err error</code></span>
<span class="codeline" id="line-117"><code></code></span>
<span class="codeline" id="line-118"><code>	err = p.prepareTemplates()</code></span>
<span class="codeline" id="line-119"><code>	if err != nil {</code></span>
<span class="codeline" id="line-120"><code>		return "", err</code></span>
<span class="codeline" id="line-121"><code>	}</code></span>
<span class="codeline" id="line-122"><code></code></span>
<span class="codeline" id="line-123"><code>	c := &amp;readline.Config{</code></span>
<span class="codeline" id="line-124"><code>		Stdin:          p.Stdin,</code></span>
<span class="codeline" id="line-125"><code>		Stdout:         p.Stdout,</code></span>
<span class="codeline" id="line-126"><code>		EnableMask:     p.Mask != 0,</code></span>
<span class="codeline" id="line-127"><code>		MaskRune:       p.Mask,</code></span>
<span class="codeline" id="line-128"><code>		HistoryLimit:   -1,</code></span>
<span class="codeline" id="line-129"><code>		VimMode:        p.IsVimMode,</code></span>
<span class="codeline" id="line-130"><code>		UniqueEditLine: true,</code></span>
<span class="codeline" id="line-131"><code>	}</code></span>
<span class="codeline" id="line-132"><code></code></span>
<span class="codeline" id="line-133"><code>	err = c.Init()</code></span>
<span class="codeline" id="line-134"><code>	if err != nil {</code></span>
<span class="codeline" id="line-135"><code>		return "", err</code></span>
<span class="codeline" id="line-136"><code>	}</code></span>
<span class="codeline" id="line-137"><code></code></span>
<span class="codeline" id="line-138"><code>	rl, err := readline.NewEx(c)</code></span>
<span class="codeline" id="line-139"><code>	if err != nil {</code></span>
<span class="codeline" id="line-140"><code>		return "", err</code></span>
<span class="codeline" id="line-141"><code>	}</code></span>
<span class="codeline" id="line-142"><code>	// we're taking over the cursor,  so stop showing it.</code></span>
<span class="codeline" id="line-143"><code>	rl.Write([]byte(hideCursor))</code></span>
<span class="codeline" id="line-144"><code>	sb := screenbuf.New(rl)</code></span>
<span class="codeline" id="line-145"><code></code></span>
<span class="codeline" id="line-146"><code>	validFn := func(x string) error {</code></span>
<span class="codeline" id="line-147"><code>		return nil</code></span>
<span class="codeline" id="line-148"><code>	}</code></span>
<span class="codeline" id="line-149"><code>	if p.Validate != nil {</code></span>
<span class="codeline" id="line-150"><code>		validFn = p.Validate</code></span>
<span class="codeline" id="line-151"><code>	}</code></span>
<span class="codeline" id="line-152"><code></code></span>
<span class="codeline" id="line-153"><code>	var inputErr error</code></span>
<span class="codeline" id="line-154"><code>	input := p.Default</code></span>
<span class="codeline" id="line-155"><code>	if p.IsConfirm {</code></span>
<span class="codeline" id="line-156"><code>		input = ""</code></span>
<span class="codeline" id="line-157"><code>	}</code></span>
<span class="codeline" id="line-158"><code>	eraseDefault := input != "" &amp;&amp; !p.AllowEdit</code></span>
<span class="codeline" id="line-159"><code>	cur := NewCursor(input, p.Pointer, eraseDefault)</code></span>
<span class="codeline" id="line-160"><code></code></span>
<span class="codeline" id="line-161"><code>	listen := func(input []rune, pos int, key rune) ([]rune, int, bool) {</code></span>
<span class="codeline" id="line-162"><code>		_, _, keepOn := cur.Listen(input, pos, key)</code></span>
<span class="codeline" id="line-163"><code>		err := validFn(cur.Get())</code></span>
<span class="codeline" id="line-164"><code>		var prompt []byte</code></span>
<span class="codeline" id="line-165"><code></code></span>
<span class="codeline" id="line-166"><code>		if err != nil {</code></span>
<span class="codeline" id="line-167"><code>			prompt = render(p.Templates.invalid, p.Label)</code></span>
<span class="codeline" id="line-168"><code>		} else {</code></span>
<span class="codeline" id="line-169"><code>			prompt = render(p.Templates.valid, p.Label)</code></span>
<span class="codeline" id="line-170"><code>			if p.IsConfirm {</code></span>
<span class="codeline" id="line-171"><code>				prompt = render(p.Templates.prompt, p.Label)</code></span>
<span class="codeline" id="line-172"><code>			}</code></span>
<span class="codeline" id="line-173"><code>		}</code></span>
<span class="codeline" id="line-174"><code></code></span>
<span class="codeline" id="line-175"><code>		echo := cur.Format()</code></span>
<span class="codeline" id="line-176"><code>		if p.Mask != 0 {</code></span>
<span class="codeline" id="line-177"><code>			echo = cur.FormatMask(p.Mask)</code></span>
<span class="codeline" id="line-178"><code>		}</code></span>
<span class="codeline" id="line-179"><code></code></span>
<span class="codeline" id="line-180"><code>		prompt = append(prompt, []byte(echo)...)</code></span>
<span class="codeline" id="line-181"><code>		sb.Reset()</code></span>
<span class="codeline" id="line-182"><code>		sb.Write(prompt)</code></span>
<span class="codeline" id="line-183"><code>		if inputErr != nil {</code></span>
<span class="codeline" id="line-184"><code>			validation := render(p.Templates.validation, inputErr)</code></span>
<span class="codeline" id="line-185"><code>			sb.Write(validation)</code></span>
<span class="codeline" id="line-186"><code>			inputErr = nil</code></span>
<span class="codeline" id="line-187"><code>		}</code></span>
<span class="codeline" id="line-188"><code>		sb.Flush()</code></span>
<span class="codeline" id="line-189"><code>		return nil, 0, keepOn</code></span>
<span class="codeline" id="line-190"><code>	}</code></span>
<span class="codeline" id="line-191"><code></code></span>
<span class="codeline" id="line-192"><code>	c.SetListener(listen)</code></span>
<span class="codeline" id="line-193"><code></code></span>
<span class="codeline" id="line-194"><code>	for {</code></span>
<span class="codeline" id="line-195"><code>		_, err = rl.Readline()</code></span>
<span class="codeline" id="line-196"><code>		inputErr = validFn(cur.Get())</code></span>
<span class="codeline" id="line-197"><code>		if inputErr == nil {</code></span>
<span class="codeline" id="line-198"><code>			break</code></span>
<span class="codeline" id="line-199"><code>		}</code></span>
<span class="codeline" id="line-200"><code></code></span>
<span class="codeline" id="line-201"><code>		if err != nil {</code></span>
<span class="codeline" id="line-202"><code>			break</code></span>
<span class="codeline" id="line-203"><code>		}</code></span>
<span class="codeline" id="line-204"><code>	}</code></span>
<span class="codeline" id="line-205"><code></code></span>
<span class="codeline" id="line-206"><code>	if err != nil {</code></span>
<span class="codeline" id="line-207"><code>		switch err {</code></span>
<span class="codeline" id="line-208"><code>		case readline.ErrInterrupt:</code></span>
<span class="codeline" id="line-209"><code>			err = ErrInterrupt</code></span>
<span class="codeline" id="line-210"><code>		case io.EOF:</code></span>
<span class="codeline" id="line-211"><code>			err = ErrEOF</code></span>
<span class="codeline" id="line-212"><code>		}</code></span>
<span class="codeline" id="line-213"><code>		if err.Error() == "Interrupt" {</code></span>
<span class="codeline" id="line-214"><code>			err = ErrInterrupt</code></span>
<span class="codeline" id="line-215"><code>		}</code></span>
<span class="codeline" id="line-216"><code>		sb.Reset()</code></span>
<span class="codeline" id="line-217"><code>		sb.WriteString("")</code></span>
<span class="codeline" id="line-218"><code>		sb.Flush()</code></span>
<span class="codeline" id="line-219"><code>		rl.Write([]byte(showCursor))</code></span>
<span class="codeline" id="line-220"><code>		rl.Close()</code></span>
<span class="codeline" id="line-221"><code>		return "", err</code></span>
<span class="codeline" id="line-222"><code>	}</code></span>
<span class="codeline" id="line-223"><code></code></span>
<span class="codeline" id="line-224"><code>	echo := cur.Get()</code></span>
<span class="codeline" id="line-225"><code>	if p.Mask != 0 {</code></span>
<span class="codeline" id="line-226"><code>		echo = cur.GetMask(p.Mask)</code></span>
<span class="codeline" id="line-227"><code>	}</code></span>
<span class="codeline" id="line-228"><code></code></span>
<span class="codeline" id="line-229"><code>	prompt := render(p.Templates.success, p.Label)</code></span>
<span class="codeline" id="line-230"><code>	prompt = append(prompt, []byte(echo)...)</code></span>
<span class="codeline" id="line-231"><code></code></span>
<span class="codeline" id="line-232"><code>	if p.IsConfirm {</code></span>
<span class="codeline" id="line-233"><code>		lowerDefault := strings.ToLower(p.Default)</code></span>
<span class="codeline" id="line-234"><code>		if strings.ToLower(cur.Get()) != "y" &amp;&amp; (lowerDefault != "y" || (lowerDefault == "y" &amp;&amp; cur.Get() != "")) {</code></span>
<span class="codeline" id="line-235"><code>			prompt = render(p.Templates.invalid, p.Label)</code></span>
<span class="codeline" id="line-236"><code>			err = ErrAbort</code></span>
<span class="codeline" id="line-237"><code>		}</code></span>
<span class="codeline" id="line-238"><code>	}</code></span>
<span class="codeline" id="line-239"><code></code></span>
<span class="codeline" id="line-240"><code>	if p.HideEntered {</code></span>
<span class="codeline" id="line-241"><code>		clearScreen(sb)</code></span>
<span class="codeline" id="line-242"><code>	} else {</code></span>
<span class="codeline" id="line-243"><code>		sb.Reset()</code></span>
<span class="codeline" id="line-244"><code>		sb.Write(prompt)</code></span>
<span class="codeline" id="line-245"><code>		sb.Flush()</code></span>
<span class="codeline" id="line-246"><code>	}</code></span>
<span class="codeline" id="line-247"><code></code></span>
<span class="codeline" id="line-248"><code>	rl.Write([]byte(showCursor))</code></span>
<span class="codeline" id="line-249"><code>	rl.Close()</code></span>
<span class="codeline" id="line-250"><code></code></span>
<span class="codeline" id="line-251"><code>	return cur.Get(), err</code></span>
<span class="codeline" id="line-252"><code>}</code></span>
<span class="codeline" id="line-253"><code></code></span>
<span class="codeline" id="line-254"><code>func (p *Prompt) prepareTemplates() error {</code></span>
<span class="codeline" id="line-255"><code>	tpls := p.Templates</code></span>
<span class="codeline" id="line-256"><code>	if tpls == nil {</code></span>
<span class="codeline" id="line-257"><code>		tpls = &amp;PromptTemplates{}</code></span>
<span class="codeline" id="line-258"><code>	}</code></span>
<span class="codeline" id="line-259"><code></code></span>
<span class="codeline" id="line-260"><code>	if tpls.FuncMap == nil {</code></span>
<span class="codeline" id="line-261"><code>		tpls.FuncMap = FuncMap</code></span>
<span class="codeline" id="line-262"><code>	}</code></span>
<span class="codeline" id="line-263"><code></code></span>
<span class="codeline" id="line-264"><code>	bold := Styler(FGBold)</code></span>
<span class="codeline" id="line-265"><code></code></span>
<span class="codeline" id="line-266"><code>	if p.IsConfirm {</code></span>
<span class="codeline" id="line-267"><code>		if tpls.Confirm == "" {</code></span>
<span class="codeline" id="line-268"><code>			confirm := "y/N"</code></span>
<span class="codeline" id="line-269"><code>			if strings.ToLower(p.Default) == "y" {</code></span>
<span class="codeline" id="line-270"><code>				confirm = "Y/n"</code></span>
<span class="codeline" id="line-271"><code>			}</code></span>
<span class="codeline" id="line-272"><code>			tpls.Confirm = fmt.Sprintf(`{{ "%s" | bold }} {{ . | bold }}? {{ "[%s]" | faint }} `, IconInitial, confirm)</code></span>
<span class="codeline" id="line-273"><code>		}</code></span>
<span class="codeline" id="line-274"><code></code></span>
<span class="codeline" id="line-275"><code>		tpl, err := template.New("").Funcs(tpls.FuncMap).Parse(tpls.Confirm)</code></span>
<span class="codeline" id="line-276"><code>		if err != nil {</code></span>
<span class="codeline" id="line-277"><code>			return err</code></span>
<span class="codeline" id="line-278"><code>		}</code></span>
<span class="codeline" id="line-279"><code></code></span>
<span class="codeline" id="line-280"><code>		tpls.prompt = tpl</code></span>
<span class="codeline" id="line-281"><code>	} else {</code></span>
<span class="codeline" id="line-282"><code>		if tpls.Prompt == "" {</code></span>
<span class="codeline" id="line-283"><code>			tpls.Prompt = fmt.Sprintf("%s {{ . | bold }}%s ", bold(IconInitial), bold(":"))</code></span>
<span class="codeline" id="line-284"><code>		}</code></span>
<span class="codeline" id="line-285"><code></code></span>
<span class="codeline" id="line-286"><code>		tpl, err := template.New("").Funcs(tpls.FuncMap).Parse(tpls.Prompt)</code></span>
<span class="codeline" id="line-287"><code>		if err != nil {</code></span>
<span class="codeline" id="line-288"><code>			return err</code></span>
<span class="codeline" id="line-289"><code>		}</code></span>
<span class="codeline" id="line-290"><code></code></span>
<span class="codeline" id="line-291"><code>		tpls.prompt = tpl</code></span>
<span class="codeline" id="line-292"><code>	}</code></span>
<span class="codeline" id="line-293"><code></code></span>
<span class="codeline" id="line-294"><code>	if tpls.Valid == "" {</code></span>
<span class="codeline" id="line-295"><code>		tpls.Valid = fmt.Sprintf("%s {{ . | bold }}%s ", bold(IconGood), bold(":"))</code></span>
<span class="codeline" id="line-296"><code>	}</code></span>
<span class="codeline" id="line-297"><code></code></span>
<span class="codeline" id="line-298"><code>	tpl, err := template.New("").Funcs(tpls.FuncMap).Parse(tpls.Valid)</code></span>
<span class="codeline" id="line-299"><code>	if err != nil {</code></span>
<span class="codeline" id="line-300"><code>		return err</code></span>
<span class="codeline" id="line-301"><code>	}</code></span>
<span class="codeline" id="line-302"><code></code></span>
<span class="codeline" id="line-303"><code>	tpls.valid = tpl</code></span>
<span class="codeline" id="line-304"><code></code></span>
<span class="codeline" id="line-305"><code>	if tpls.Invalid == "" {</code></span>
<span class="codeline" id="line-306"><code>		tpls.Invalid = fmt.Sprintf("%s {{ . | bold }}%s ", bold(IconBad), bold(":"))</code></span>
<span class="codeline" id="line-307"><code>	}</code></span>
<span class="codeline" id="line-308"><code></code></span>
<span class="codeline" id="line-309"><code>	tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.Invalid)</code></span>
<span class="codeline" id="line-310"><code>	if err != nil {</code></span>
<span class="codeline" id="line-311"><code>		return err</code></span>
<span class="codeline" id="line-312"><code>	}</code></span>
<span class="codeline" id="line-313"><code></code></span>
<span class="codeline" id="line-314"><code>	tpls.invalid = tpl</code></span>
<span class="codeline" id="line-315"><code></code></span>
<span class="codeline" id="line-316"><code>	if tpls.ValidationError == "" {</code></span>
<span class="codeline" id="line-317"><code>		tpls.ValidationError = `{{ "&gt;&gt;" | red }} {{ . | red }}`</code></span>
<span class="codeline" id="line-318"><code>	}</code></span>
<span class="codeline" id="line-319"><code></code></span>
<span class="codeline" id="line-320"><code>	tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.ValidationError)</code></span>
<span class="codeline" id="line-321"><code>	if err != nil {</code></span>
<span class="codeline" id="line-322"><code>		return err</code></span>
<span class="codeline" id="line-323"><code>	}</code></span>
<span class="codeline" id="line-324"><code></code></span>
<span class="codeline" id="line-325"><code>	tpls.validation = tpl</code></span>
<span class="codeline" id="line-326"><code></code></span>
<span class="codeline" id="line-327"><code>	if tpls.Success == "" {</code></span>
<span class="codeline" id="line-328"><code>		tpls.Success = fmt.Sprintf("{{ . | faint }}%s ", Styler(FGFaint)(":"))</code></span>
<span class="codeline" id="line-329"><code>	}</code></span>
<span class="codeline" id="line-330"><code></code></span>
<span class="codeline" id="line-331"><code>	tpl, err = template.New("").Funcs(tpls.FuncMap).Parse(tpls.Success)</code></span>
<span class="codeline" id="line-332"><code>	if err != nil {</code></span>
<span class="codeline" id="line-333"><code>		return err</code></span>
<span class="codeline" id="line-334"><code>	}</code></span>
<span class="codeline" id="line-335"><code></code></span>
<span class="codeline" id="line-336"><code>	tpls.success = tpl</code></span>
<span class="codeline" id="line-337"><code></code></span>
<span class="codeline" id="line-338"><code>	p.Templates = tpls</code></span>
<span class="codeline" id="line-339"><code></code></span>
<span class="codeline" id="line-340"><code>	return nil</code></span>
<span class="codeline" id="line-341"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>