<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: strings.go in package google.golang.org/protobuf/internal/strs</title>
<link href="../../../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	strings.go

<span class="title">Belonging Package</span>
	<a href="../../../../../pkg/google.golang.org/protobuf/internal/strs.html">google.golang.org/protobuf/internal/strs</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>// Copyright 2019 The Go Authors. All rights reserved.</code></span>
<span class="codeline" id="line-2"><code>// Use of this source code is governed by a BSD-style</code></span>
<span class="codeline" id="line-3"><code>// license that can be found in the LICENSE file.</code></span>
<span class="codeline" id="line-4"><code></code></span>
<div class="anchor" id="doc"><span class="codeline" id="line-5"><code>// Package strs provides string manipulation functionality specific to protobuf.</code></span></div><span class="codeline" id="line-6"><code>package strs</code></span>
<span class="codeline" id="line-7"><code></code></span>
<span class="codeline" id="line-8"><code>import (</code></span>
<span class="codeline" id="line-9"><code>	"go/token"</code></span>
<span class="codeline" id="line-10"><code>	"strings"</code></span>
<span class="codeline" id="line-11"><code>	"unicode"</code></span>
<span class="codeline" id="line-12"><code>	"unicode/utf8"</code></span>
<span class="codeline" id="line-13"><code></code></span>
<span class="codeline" id="line-14"><code>	"google.golang.org/protobuf/internal/flags"</code></span>
<span class="codeline" id="line-15"><code>	"google.golang.org/protobuf/reflect/protoreflect"</code></span>
<span class="codeline" id="line-16"><code>)</code></span>
<span class="codeline" id="line-17"><code></code></span>
<span class="codeline" id="line-18"><code>// EnforceUTF8 reports whether to enforce strict UTF-8 validation.</code></span>
<span class="codeline" id="line-19"><code>func EnforceUTF8(fd protoreflect.FieldDescriptor) bool {</code></span>
<span class="codeline" id="line-20"><code>	if flags.ProtoLegacy {</code></span>
<span class="codeline" id="line-21"><code>		if fd, ok := fd.(interface{ EnforceUTF8() bool }); ok {</code></span>
<span class="codeline" id="line-22"><code>			return fd.EnforceUTF8()</code></span>
<span class="codeline" id="line-23"><code>		}</code></span>
<span class="codeline" id="line-24"><code>	}</code></span>
<span class="codeline" id="line-25"><code>	return fd.Syntax() == protoreflect.Proto3</code></span>
<span class="codeline" id="line-26"><code>}</code></span>
<span class="codeline" id="line-27"><code></code></span>
<span class="codeline" id="line-28"><code>// GoCamelCase camel-cases a protobuf name for use as a Go identifier.</code></span>
<span class="codeline" id="line-29"><code>//</code></span>
<span class="codeline" id="line-30"><code>// If there is an interior underscore followed by a lower case letter,</code></span>
<span class="codeline" id="line-31"><code>// drop the underscore and convert the letter to upper case.</code></span>
<span class="codeline" id="line-32"><code>func GoCamelCase(s string) string {</code></span>
<span class="codeline" id="line-33"><code>	// Invariant: if the next letter is lower case, it must be converted</code></span>
<span class="codeline" id="line-34"><code>	// to upper case.</code></span>
<span class="codeline" id="line-35"><code>	// That is, we process a word at a time, where words are marked by _ or</code></span>
<span class="codeline" id="line-36"><code>	// upper case letter. Digits are treated as words.</code></span>
<span class="codeline" id="line-37"><code>	var b []byte</code></span>
<span class="codeline" id="line-38"><code>	for i := 0; i &lt; len(s); i++ {</code></span>
<span class="codeline" id="line-39"><code>		c := s[i]</code></span>
<span class="codeline" id="line-40"><code>		switch {</code></span>
<span class="codeline" id="line-41"><code>		case c == '.' &amp;&amp; i+1 &lt; len(s) &amp;&amp; isASCIILower(s[i+1]):</code></span>
<span class="codeline" id="line-42"><code>			// Skip over '.' in ".{{lowercase}}".</code></span>
<span class="codeline" id="line-43"><code>		case c == '.':</code></span>
<span class="codeline" id="line-44"><code>			b = append(b, '_') // convert '.' to '_'</code></span>
<span class="codeline" id="line-45"><code>		case c == '_' &amp;&amp; (i == 0 || s[i-1] == '.'):</code></span>
<span class="codeline" id="line-46"><code>			// Convert initial '_' to ensure we start with a capital letter.</code></span>
<span class="codeline" id="line-47"><code>			// Do the same for '_' after '.' to match historic behavior.</code></span>
<span class="codeline" id="line-48"><code>			b = append(b, 'X') // convert '_' to 'X'</code></span>
<span class="codeline" id="line-49"><code>		case c == '_' &amp;&amp; i+1 &lt; len(s) &amp;&amp; isASCIILower(s[i+1]):</code></span>
<span class="codeline" id="line-50"><code>			// Skip over '_' in "_{{lowercase}}".</code></span>
<span class="codeline" id="line-51"><code>		case isASCIIDigit(c):</code></span>
<span class="codeline" id="line-52"><code>			b = append(b, c)</code></span>
<span class="codeline" id="line-53"><code>		default:</code></span>
<span class="codeline" id="line-54"><code>			// Assume we have a letter now - if not, it's a bogus identifier.</code></span>
<span class="codeline" id="line-55"><code>			// The next word is a sequence of characters that must start upper case.</code></span>
<span class="codeline" id="line-56"><code>			if isASCIILower(c) {</code></span>
<span class="codeline" id="line-57"><code>				c -= 'a' - 'A' // convert lowercase to uppercase</code></span>
<span class="codeline" id="line-58"><code>			}</code></span>
<span class="codeline" id="line-59"><code>			b = append(b, c)</code></span>
<span class="codeline" id="line-60"><code></code></span>
<span class="codeline" id="line-61"><code>			// Accept lower case sequence that follows.</code></span>
<span class="codeline" id="line-62"><code>			for ; i+1 &lt; len(s) &amp;&amp; isASCIILower(s[i+1]); i++ {</code></span>
<span class="codeline" id="line-63"><code>				b = append(b, s[i+1])</code></span>
<span class="codeline" id="line-64"><code>			}</code></span>
<span class="codeline" id="line-65"><code>		}</code></span>
<span class="codeline" id="line-66"><code>	}</code></span>
<span class="codeline" id="line-67"><code>	return string(b)</code></span>
<span class="codeline" id="line-68"><code>}</code></span>
<span class="codeline" id="line-69"><code></code></span>
<span class="codeline" id="line-70"><code>// GoSanitized converts a string to a valid Go identifier.</code></span>
<span class="codeline" id="line-71"><code>func GoSanitized(s string) string {</code></span>
<span class="codeline" id="line-72"><code>	// Sanitize the input to the set of valid characters,</code></span>
<span class="codeline" id="line-73"><code>	// which must be '_' or be in the Unicode L or N categories.</code></span>
<span class="codeline" id="line-74"><code>	s = strings.Map(func(r rune) rune {</code></span>
<span class="codeline" id="line-75"><code>		if unicode.IsLetter(r) || unicode.IsDigit(r) {</code></span>
<span class="codeline" id="line-76"><code>			return r</code></span>
<span class="codeline" id="line-77"><code>		}</code></span>
<span class="codeline" id="line-78"><code>		return '_'</code></span>
<span class="codeline" id="line-79"><code>	}, s)</code></span>
<span class="codeline" id="line-80"><code></code></span>
<span class="codeline" id="line-81"><code>	// Prepend '_' in the event of a Go keyword conflict or if</code></span>
<span class="codeline" id="line-82"><code>	// the identifier is invalid (does not start in the Unicode L category).</code></span>
<span class="codeline" id="line-83"><code>	r, _ := utf8.DecodeRuneInString(s)</code></span>
<span class="codeline" id="line-84"><code>	if token.Lookup(s).IsKeyword() || !unicode.IsLetter(r) {</code></span>
<span class="codeline" id="line-85"><code>		return "_" + s</code></span>
<span class="codeline" id="line-86"><code>	}</code></span>
<span class="codeline" id="line-87"><code>	return s</code></span>
<span class="codeline" id="line-88"><code>}</code></span>
<span class="codeline" id="line-89"><code></code></span>
<span class="codeline" id="line-90"><code>// JSONCamelCase converts a snake_case identifier to a camelCase identifier,</code></span>
<span class="codeline" id="line-91"><code>// according to the protobuf JSON specification.</code></span>
<span class="codeline" id="line-92"><code>func JSONCamelCase(s string) string {</code></span>
<span class="codeline" id="line-93"><code>	var b []byte</code></span>
<span class="codeline" id="line-94"><code>	var wasUnderscore bool</code></span>
<span class="codeline" id="line-95"><code>	for i := 0; i &lt; len(s); i++ { // proto identifiers are always ASCII</code></span>
<span class="codeline" id="line-96"><code>		c := s[i]</code></span>
<span class="codeline" id="line-97"><code>		if c != '_' {</code></span>
<span class="codeline" id="line-98"><code>			if wasUnderscore &amp;&amp; isASCIILower(c) {</code></span>
<span class="codeline" id="line-99"><code>				c -= 'a' - 'A' // convert to uppercase</code></span>
<span class="codeline" id="line-100"><code>			}</code></span>
<span class="codeline" id="line-101"><code>			b = append(b, c)</code></span>
<span class="codeline" id="line-102"><code>		}</code></span>
<span class="codeline" id="line-103"><code>		wasUnderscore = c == '_'</code></span>
<span class="codeline" id="line-104"><code>	}</code></span>
<span class="codeline" id="line-105"><code>	return string(b)</code></span>
<span class="codeline" id="line-106"><code>}</code></span>
<span class="codeline" id="line-107"><code></code></span>
<span class="codeline" id="line-108"><code>// JSONSnakeCase converts a camelCase identifier to a snake_case identifier,</code></span>
<span class="codeline" id="line-109"><code>// according to the protobuf JSON specification.</code></span>
<span class="codeline" id="line-110"><code>func JSONSnakeCase(s string) string {</code></span>
<span class="codeline" id="line-111"><code>	var b []byte</code></span>
<span class="codeline" id="line-112"><code>	for i := 0; i &lt; len(s); i++ { // proto identifiers are always ASCII</code></span>
<span class="codeline" id="line-113"><code>		c := s[i]</code></span>
<span class="codeline" id="line-114"><code>		if isASCIIUpper(c) {</code></span>
<span class="codeline" id="line-115"><code>			b = append(b, '_')</code></span>
<span class="codeline" id="line-116"><code>			c += 'a' - 'A' // convert to lowercase</code></span>
<span class="codeline" id="line-117"><code>		}</code></span>
<span class="codeline" id="line-118"><code>		b = append(b, c)</code></span>
<span class="codeline" id="line-119"><code>	}</code></span>
<span class="codeline" id="line-120"><code>	return string(b)</code></span>
<span class="codeline" id="line-121"><code>}</code></span>
<span class="codeline" id="line-122"><code></code></span>
<span class="codeline" id="line-123"><code>// MapEntryName derives the name of the map entry message given the field name.</code></span>
<span class="codeline" id="line-124"><code>// See protoc v3.8.0: src/google/protobuf/descriptor.cc:254-276,6057</code></span>
<span class="codeline" id="line-125"><code>func MapEntryName(s string) string {</code></span>
<span class="codeline" id="line-126"><code>	var b []byte</code></span>
<span class="codeline" id="line-127"><code>	upperNext := true</code></span>
<span class="codeline" id="line-128"><code>	for _, c := range s {</code></span>
<span class="codeline" id="line-129"><code>		switch {</code></span>
<span class="codeline" id="line-130"><code>		case c == '_':</code></span>
<span class="codeline" id="line-131"><code>			upperNext = true</code></span>
<span class="codeline" id="line-132"><code>		case upperNext:</code></span>
<span class="codeline" id="line-133"><code>			b = append(b, byte(unicode.ToUpper(c)))</code></span>
<span class="codeline" id="line-134"><code>			upperNext = false</code></span>
<span class="codeline" id="line-135"><code>		default:</code></span>
<span class="codeline" id="line-136"><code>			b = append(b, byte(c))</code></span>
<span class="codeline" id="line-137"><code>		}</code></span>
<span class="codeline" id="line-138"><code>	}</code></span>
<span class="codeline" id="line-139"><code>	b = append(b, "Entry"...)</code></span>
<span class="codeline" id="line-140"><code>	return string(b)</code></span>
<span class="codeline" id="line-141"><code>}</code></span>
<span class="codeline" id="line-142"><code></code></span>
<span class="codeline" id="line-143"><code>// EnumValueName derives the camel-cased enum value name.</code></span>
<span class="codeline" id="line-144"><code>// See protoc v3.8.0: src/google/protobuf/descriptor.cc:297-313</code></span>
<span class="codeline" id="line-145"><code>func EnumValueName(s string) string {</code></span>
<span class="codeline" id="line-146"><code>	var b []byte</code></span>
<span class="codeline" id="line-147"><code>	upperNext := true</code></span>
<span class="codeline" id="line-148"><code>	for _, c := range s {</code></span>
<span class="codeline" id="line-149"><code>		switch {</code></span>
<span class="codeline" id="line-150"><code>		case c == '_':</code></span>
<span class="codeline" id="line-151"><code>			upperNext = true</code></span>
<span class="codeline" id="line-152"><code>		case upperNext:</code></span>
<span class="codeline" id="line-153"><code>			b = append(b, byte(unicode.ToUpper(c)))</code></span>
<span class="codeline" id="line-154"><code>			upperNext = false</code></span>
<span class="codeline" id="line-155"><code>		default:</code></span>
<span class="codeline" id="line-156"><code>			b = append(b, byte(unicode.ToLower(c)))</code></span>
<span class="codeline" id="line-157"><code>			upperNext = false</code></span>
<span class="codeline" id="line-158"><code>		}</code></span>
<span class="codeline" id="line-159"><code>	}</code></span>
<span class="codeline" id="line-160"><code>	return string(b)</code></span>
<span class="codeline" id="line-161"><code>}</code></span>
<span class="codeline" id="line-162"><code></code></span>
<span class="codeline" id="line-163"><code>// TrimEnumPrefix trims the enum name prefix from an enum value name,</code></span>
<span class="codeline" id="line-164"><code>// where the prefix is all lowercase without underscores.</code></span>
<span class="codeline" id="line-165"><code>// See protoc v3.8.0: src/google/protobuf/descriptor.cc:330-375</code></span>
<span class="codeline" id="line-166"><code>func TrimEnumPrefix(s, prefix string) string {</code></span>
<span class="codeline" id="line-167"><code>	s0 := s // original input</code></span>
<span class="codeline" id="line-168"><code>	for len(s) &gt; 0 &amp;&amp; len(prefix) &gt; 0 {</code></span>
<span class="codeline" id="line-169"><code>		if s[0] == '_' {</code></span>
<span class="codeline" id="line-170"><code>			s = s[1:]</code></span>
<span class="codeline" id="line-171"><code>			continue</code></span>
<span class="codeline" id="line-172"><code>		}</code></span>
<span class="codeline" id="line-173"><code>		if unicode.ToLower(rune(s[0])) != rune(prefix[0]) {</code></span>
<span class="codeline" id="line-174"><code>			return s0 // no prefix match</code></span>
<span class="codeline" id="line-175"><code>		}</code></span>
<span class="codeline" id="line-176"><code>		s, prefix = s[1:], prefix[1:]</code></span>
<span class="codeline" id="line-177"><code>	}</code></span>
<span class="codeline" id="line-178"><code>	if len(prefix) &gt; 0 {</code></span>
<span class="codeline" id="line-179"><code>		return s0 // no prefix match</code></span>
<span class="codeline" id="line-180"><code>	}</code></span>
<span class="codeline" id="line-181"><code>	s = strings.TrimLeft(s, "_")</code></span>
<span class="codeline" id="line-182"><code>	if len(s) == 0 {</code></span>
<span class="codeline" id="line-183"><code>		return s0 // avoid returning empty string</code></span>
<span class="codeline" id="line-184"><code>	}</code></span>
<span class="codeline" id="line-185"><code>	return s</code></span>
<span class="codeline" id="line-186"><code>}</code></span>
<span class="codeline" id="line-187"><code></code></span>
<span class="codeline" id="line-188"><code>func isASCIILower(c byte) bool {</code></span>
<span class="codeline" id="line-189"><code>	return 'a' &lt;= c &amp;&amp; c &lt;= 'z'</code></span>
<span class="codeline" id="line-190"><code>}</code></span>
<span class="codeline" id="line-191"><code>func isASCIIUpper(c byte) bool {</code></span>
<span class="codeline" id="line-192"><code>	return 'A' &lt;= c &amp;&amp; c &lt;= 'Z'</code></span>
<span class="codeline" id="line-193"><code>}</code></span>
<span class="codeline" id="line-194"><code>func isASCIIDigit(c byte) bool {</code></span>
<span class="codeline" id="line-195"><code>	return '0' &lt;= c &amp;&amp; c &lt;= '9'</code></span>
<span class="codeline" id="line-196"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>