<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: main.go in package gitlab.com/pcanilho/go-jira-cli/cmd/interactive</title>
<link href="../../../../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	main.go

<span class="title">Belonging Package</span>
	<a href="../../../../../../pkg/gitlab.com/pcanilho/go-jira-cli/cmd/interactive.html">gitlab.com/pcanilho/go-jira-cli/cmd/interactive</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>package interactive</code></span>
<span class="codeline" id="line-2"><code></code></span>
<span class="codeline" id="line-3"><code>import (</code></span>
<span class="codeline" id="line-4"><code>	"fmt"</code></span>
<span class="codeline" id="line-5"><code>	"github.com/manifoldco/promptui"</code></span>
<span class="codeline" id="line-6"><code>	"gitlab.com/pcanilho/go-jira-cli/internal"</code></span>
<span class="codeline" id="line-7"><code>	"os"</code></span>
<span class="codeline" id="line-8"><code>)</code></span>
<span class="codeline" id="line-9"><code></code></span>
<span class="codeline" id="line-10"><code>type main struct {</code></span>
<span class="codeline" id="line-11"><code>	promptui.Select</code></span>
<span class="codeline" id="line-12"><code>	next       Menu</code></span>
<span class="codeline" id="line-13"><code>	controller internal.Controller</code></span>
<span class="codeline" id="line-14"><code>}</code></span>
<span class="codeline" id="line-15"><code></code></span>
<span class="codeline" id="line-16"><code>var mainItems = []string{"Users", "Issues", "Projects", "Exit"}</code></span>
<span class="codeline" id="line-17"><code></code></span>
<span class="codeline" id="line-18"><code>const (</code></span>
<span class="codeline" id="line-19"><code>	usersSelected int = iota</code></span>
<span class="codeline" id="line-20"><code>	issuesSelected</code></span>
<span class="codeline" id="line-21"><code>	projectsSelected</code></span>
<span class="codeline" id="line-22"><code>	exitSelected</code></span>
<span class="codeline" id="line-23"><code>)</code></span>
<span class="codeline" id="line-24"><code></code></span>
<span class="codeline" id="line-25"><code>var mainTemplate = &amp;promptui.SelectTemplates{</code></span>
<span class="codeline" id="line-26"><code>	Label:    "-------- Main Menu --------",</code></span>
<span class="codeline" id="line-27"><code>	Active:   "→ {{ . | cyan }}",</code></span>
<span class="codeline" id="line-28"><code>	Inactive: "  {{ . | cyan }}",</code></span>
<span class="codeline" id="line-29"><code>	Selected: "  {{ . | red | cyan }}",</code></span>
<span class="codeline" id="line-30"><code>}</code></span>
<span class="codeline" id="line-31"><code></code></span>
<span class="codeline" id="line-32"><code>func NewMainMenu() Menu {</code></span>
<span class="codeline" id="line-33"><code>	return &amp;main{</code></span>
<span class="codeline" id="line-34"><code>		Select: promptui.Select{</code></span>
<span class="codeline" id="line-35"><code>			HideSelected: true,</code></span>
<span class="codeline" id="line-36"><code>			Templates:    mainTemplate,</code></span>
<span class="codeline" id="line-37"><code>			Items:        mainItems,</code></span>
<span class="codeline" id="line-38"><code>		},</code></span>
<span class="codeline" id="line-39"><code>	}</code></span>
<span class="codeline" id="line-40"><code>}</code></span>
<span class="codeline" id="line-41"><code></code></span>
<span class="codeline" id="line-42"><code>func (m *main) AttachController(controller internal.Controller) {</code></span>
<span class="codeline" id="line-43"><code>	m.controller = controller</code></span>
<span class="codeline" id="line-44"><code>}</code></span>
<span class="codeline" id="line-45"><code></code></span>
<span class="codeline" id="line-46"><code>func (m *main) Render() (int, string, error) {</code></span>
<span class="codeline" id="line-47"><code>	if m.controller == nil {</code></span>
<span class="codeline" id="line-48"><code>		return -1, "", fmt.Errorf("the menu [controller] cannot be nil")</code></span>
<span class="codeline" id="line-49"><code>	}</code></span>
<span class="codeline" id="line-50"><code></code></span>
<span class="codeline" id="line-51"><code>	i, _, err := m.Run()</code></span>
<span class="codeline" id="line-52"><code>	if err != nil {</code></span>
<span class="codeline" id="line-53"><code>		os.Exit(0)</code></span>
<span class="codeline" id="line-54"><code>	}</code></span>
<span class="codeline" id="line-55"><code></code></span>
<span class="codeline" id="line-56"><code>	switch i {</code></span>
<span class="codeline" id="line-57"><code>	case usersSelected:</code></span>
<span class="codeline" id="line-58"><code>		m.next = NewUserTopMenu(m)</code></span>
<span class="codeline" id="line-59"><code>	case issuesSelected:</code></span>
<span class="codeline" id="line-60"><code>		il, err := m.controller.SearchIssues("", nil, 0)</code></span>
<span class="codeline" id="line-61"><code>		if err != nil {</code></span>
<span class="codeline" id="line-62"><code>			return -1, "", err</code></span>
<span class="codeline" id="line-63"><code>		}</code></span>
<span class="codeline" id="line-64"><code></code></span>
<span class="codeline" id="line-65"><code>		m.next = NewIssueListMenu(il, m)</code></span>
<span class="codeline" id="line-66"><code>	case projectsSelected:</code></span>
<span class="codeline" id="line-67"><code>		ps, err := m.controller.SearchProjects()</code></span>
<span class="codeline" id="line-68"><code>		if err != nil {</code></span>
<span class="codeline" id="line-69"><code>			return -1, "", err</code></span>
<span class="codeline" id="line-70"><code>		}</code></span>
<span class="codeline" id="line-71"><code></code></span>
<span class="codeline" id="line-72"><code>		m.next = NewIssueProjectMenu(ps, m)</code></span>
<span class="codeline" id="line-73"><code>	case exitSelected:</code></span>
<span class="codeline" id="line-74"><code>		os.Exit(0)</code></span>
<span class="codeline" id="line-75"><code>	}</code></span>
<span class="codeline" id="line-76"><code>	m.next.AttachController(m.controller)</code></span>
<span class="codeline" id="line-77"><code>	return m.next.Render()</code></span>
<span class="codeline" id="line-78"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>