<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: user_top.go in package gitlab.com/pcanilho/go-jira-cli/cmd/interactive</title>
<link href="../../../../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	user_top.go

<span class="title">Belonging Package</span>
	<a href="../../../../../../pkg/gitlab.com/pcanilho/go-jira-cli/cmd/interactive.html">gitlab.com/pcanilho/go-jira-cli/cmd/interactive</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>package interactive</code></span>
<span class="codeline" id="line-2"><code></code></span>
<span class="codeline" id="line-3"><code>import (</code></span>
<span class="codeline" id="line-4"><code>	"github.com/manifoldco/promptui"</code></span>
<span class="codeline" id="line-5"><code>	"gitlab.com/pcanilho/go-jira-cli/internal"</code></span>
<span class="codeline" id="line-6"><code>)</code></span>
<span class="codeline" id="line-7"><code></code></span>
<span class="codeline" id="line-8"><code>type userTop struct {</code></span>
<span class="codeline" id="line-9"><code>	promptui.Select</code></span>
<span class="codeline" id="line-10"><code>	controller     internal.Controller</code></span>
<span class="codeline" id="line-11"><code>	next, previous Menu</code></span>
<span class="codeline" id="line-12"><code>}</code></span>
<span class="codeline" id="line-13"><code></code></span>
<span class="codeline" id="line-14"><code>var useTopItems = []string{PreviousMenu, "Search by ...", "Get by username"}</code></span>
<span class="codeline" id="line-15"><code></code></span>
<span class="codeline" id="line-16"><code>const (</code></span>
<span class="codeline" id="line-17"><code>	searchBySelected = iota + 1</code></span>
<span class="codeline" id="line-18"><code>	getByUsernameSelected</code></span>
<span class="codeline" id="line-19"><code>)</code></span>
<span class="codeline" id="line-20"><code></code></span>
<span class="codeline" id="line-21"><code>var userTopTemplate = &amp;promptui.SelectTemplates{</code></span>
<span class="codeline" id="line-22"><code>	Label:    "-------- User Menu --------",</code></span>
<span class="codeline" id="line-23"><code>	Active:   "→ {{ . | cyan }}",</code></span>
<span class="codeline" id="line-24"><code>	Inactive: "  {{ . | cyan }}",</code></span>
<span class="codeline" id="line-25"><code>	Selected: "→ {{ . | red | cyan }}",</code></span>
<span class="codeline" id="line-26"><code>}</code></span>
<span class="codeline" id="line-27"><code></code></span>
<span class="codeline" id="line-28"><code>func NewUserTopMenu(parent Menu) Menu {</code></span>
<span class="codeline" id="line-29"><code>	return &amp;userTop{</code></span>
<span class="codeline" id="line-30"><code>		previous: parent,</code></span>
<span class="codeline" id="line-31"><code>		Select: promptui.Select{</code></span>
<span class="codeline" id="line-32"><code>			HideSelected: true,</code></span>
<span class="codeline" id="line-33"><code>			Templates:    userTopTemplate,</code></span>
<span class="codeline" id="line-34"><code>			Items:        useTopItems,</code></span>
<span class="codeline" id="line-35"><code>		},</code></span>
<span class="codeline" id="line-36"><code>	}</code></span>
<span class="codeline" id="line-37"><code>}</code></span>
<span class="codeline" id="line-38"><code></code></span>
<span class="codeline" id="line-39"><code>func (mut *userTop) AttachController(controller internal.Controller) {</code></span>
<span class="codeline" id="line-40"><code>	mut.controller = controller</code></span>
<span class="codeline" id="line-41"><code>}</code></span>
<span class="codeline" id="line-42"><code></code></span>
<span class="codeline" id="line-43"><code>func (mut *userTop) Render() (int, string, error) {</code></span>
<span class="codeline" id="line-44"><code>	i, _, _ := mut.Run()</code></span>
<span class="codeline" id="line-45"><code>	switch i {</code></span>
<span class="codeline" id="line-46"><code>	case PreviousSelected:</code></span>
<span class="codeline" id="line-47"><code>		mut.next = mut.previous</code></span>
<span class="codeline" id="line-48"><code>	case searchBySelected:</code></span>
<span class="codeline" id="line-49"><code>		// @TODO - userSearchByMenu</code></span>
<span class="codeline" id="line-50"><code>	case getByUsernameSelected:</code></span>
<span class="codeline" id="line-51"><code>		mut.next = NewUserPrompt(mut)</code></span>
<span class="codeline" id="line-52"><code>	}</code></span>
<span class="codeline" id="line-53"><code></code></span>
<span class="codeline" id="line-54"><code>	mut.next.AttachController(mut.controller)</code></span>
<span class="codeline" id="line-55"><code>	return mut.next.Render()</code></span>
<span class="codeline" id="line-56"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>