<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: user.go in package gitlab.com/pcanilho/go-jira-cli/cmd/interactive</title>
<link href="../../../../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	user.go

<span class="title">Belonging Package</span>
	<a href="../../../../../../pkg/gitlab.com/pcanilho/go-jira-cli/cmd/interactive.html">gitlab.com/pcanilho/go-jira-cli/cmd/interactive</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>package interactive</code></span>
<span class="codeline" id="line-2"><code></code></span>
<span class="codeline" id="line-3"><code>import (</code></span>
<span class="codeline" id="line-4"><code>	"fmt"</code></span>
<span class="codeline" id="line-5"><code>	"github.com/manifoldco/promptui"</code></span>
<span class="codeline" id="line-6"><code>	"gitlab.com/pcanilho/go-jira"</code></span>
<span class="codeline" id="line-7"><code>	"gitlab.com/pcanilho/go-jira-cli/internal"</code></span>
<span class="codeline" id="line-8"><code>)</code></span>
<span class="codeline" id="line-9"><code></code></span>
<span class="codeline" id="line-10"><code>type user struct {</code></span>
<span class="codeline" id="line-11"><code>	promptui.Select</code></span>
<span class="codeline" id="line-12"><code>	next, previous Menu</code></span>
<span class="codeline" id="line-13"><code>	controller     internal.Controller</code></span>
<span class="codeline" id="line-14"><code>}</code></span>
<span class="codeline" id="line-15"><code></code></span>
<span class="codeline" id="line-16"><code>var userTemplate = &amp;promptui.SelectTemplates{</code></span>
<span class="codeline" id="line-17"><code>	Label:    "-------- [{{ . }}] --------",</code></span>
<span class="codeline" id="line-18"><code>	Active:   `→ {{ .Name | cyan }} ({{ .Key | red }})`,</code></span>
<span class="codeline" id="line-19"><code>	Inactive: "  {{ .Name | cyan }} ({{ .Key | red }})",</code></span>
<span class="codeline" id="line-20"><code>	Selected: "→ {{ .Name | red | cyan }}",</code></span>
<span class="codeline" id="line-21"><code>	Details: `{{ if not .Name }} {{ . }} {{ else }}</code></span>
<span class="codeline" id="line-22"><code>----------- Details ------------</code></span>
<span class="codeline" id="line-23"><code>{{ "Active:" | faint }}	  {{ if .Active }}{{ .Active | green }}{{ else }}{{ .Active | red }}{{ end }}</code></span>
<span class="codeline" id="line-24"><code>{{ "Key:" | faint }}	  {{ .Key | underline }}</code></span>
<span class="codeline" id="line-25"><code>{{ "Name:" | faint }}	  {{ .Name }}</code></span>
<span class="codeline" id="line-26"><code>{{ "Display Name:" | faint }}	  {{ .DisplayName }}</code></span>
<span class="codeline" id="line-27"><code>{{ "Email Address:" | faint }}	  {{ .EmailAddress }}</code></span>
<span class="codeline" id="line-28"><code>{{ "TimeZone:" | faint }}	  {{ .TimeZone }}</code></span>
<span class="codeline" id="line-29"><code>{{ "Locale:" | faint }}  	  {{ .Locale }} {{ end }}`,</code></span>
<span class="codeline" id="line-30"><code>}</code></span>
<span class="codeline" id="line-31"><code></code></span>
<span class="codeline" id="line-32"><code>func NewUserMenu(u jira.User, previous Menu) Menu {</code></span>
<span class="codeline" id="line-33"><code>	return &amp;user{</code></span>
<span class="codeline" id="line-34"><code>		previous: previous,</code></span>
<span class="codeline" id="line-35"><code>		Select: promptui.Select{</code></span>
<span class="codeline" id="line-36"><code>			HideSelected: true,</code></span>
<span class="codeline" id="line-37"><code>			Label:        u.Name,</code></span>
<span class="codeline" id="line-38"><code>			Items:        []interface{}{u, PreviousMenu},</code></span>
<span class="codeline" id="line-39"><code>			Templates:    userTemplate,</code></span>
<span class="codeline" id="line-40"><code>		},</code></span>
<span class="codeline" id="line-41"><code>	}</code></span>
<span class="codeline" id="line-42"><code>}</code></span>
<span class="codeline" id="line-43"><code></code></span>
<span class="codeline" id="line-44"><code>func (mu *user) AttachController(controller internal.Controller) {</code></span>
<span class="codeline" id="line-45"><code>	mu.controller = controller</code></span>
<span class="codeline" id="line-46"><code>}</code></span>
<span class="codeline" id="line-47"><code></code></span>
<span class="codeline" id="line-48"><code>func (mu *user) Render() (int, string, error) {</code></span>
<span class="codeline" id="line-49"><code>	if mu.controller == nil {</code></span>
<span class="codeline" id="line-50"><code>		return -1, "", fmt.Errorf("the menu [controller] cannot be nil")</code></span>
<span class="codeline" id="line-51"><code>	}</code></span>
<span class="codeline" id="line-52"><code>	i, _, err := mu.Run()</code></span>
<span class="codeline" id="line-53"><code>	if err != nil {</code></span>
<span class="codeline" id="line-54"><code>		return mu.previous.Render()</code></span>
<span class="codeline" id="line-55"><code>	}</code></span>
<span class="codeline" id="line-56"><code></code></span>
<span class="codeline" id="line-57"><code>	switch i {</code></span>
<span class="codeline" id="line-58"><code>	case PreviousSelected + 1:</code></span>
<span class="codeline" id="line-59"><code>		mu.next = mu.previous</code></span>
<span class="codeline" id="line-60"><code>	default:</code></span>
<span class="codeline" id="line-61"><code>		// @TODO - UserDetailMenu</code></span>
<span class="codeline" id="line-62"><code>	}</code></span>
<span class="codeline" id="line-63"><code></code></span>
<span class="codeline" id="line-64"><code>	mu.next.AttachController(mu.controller)</code></span>
<span class="codeline" id="line-65"><code>	return mu.next.Render()</code></span>
<span class="codeline" id="line-66"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>