<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: doc.go in package html/template</title>
<link href="../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	doc.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/html/template.html">html/template</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>// Copyright 2011 The Go Authors. All rights reserved.</code></span>
<span class="codeline" id="line-2"><code>// Use of this source code is governed by a BSD-style</code></span>
<span class="codeline" id="line-3"><code>// license that can be found in the LICENSE file.</code></span>
<span class="codeline" id="line-4"><code></code></span>
<div class="anchor" id="doc"><span class="codeline" id="line-5"><code>/*</code></span>
<span class="codeline" id="line-6"><code>Package template (html/template) implements data-driven templates for</code></span>
<span class="codeline" id="line-7"><code>generating HTML output safe against code injection. It provides the</code></span>
<span class="codeline" id="line-8"><code>same interface as package text/template and should be used instead of</code></span>
<span class="codeline" id="line-9"><code>text/template whenever the output is HTML.</code></span>
<span class="codeline" id="line-10"><code></code></span>
<span class="codeline" id="line-11"><code>The documentation here focuses on the security features of the package.</code></span>
<span class="codeline" id="line-12"><code>For information about how to program the templates themselves, see the</code></span>
<span class="codeline" id="line-13"><code>documentation for text/template.</code></span>
<span class="codeline" id="line-14"><code></code></span>
<span class="codeline" id="line-15"><code>Introduction</code></span>
<span class="codeline" id="line-16"><code></code></span>
<span class="codeline" id="line-17"><code>This package wraps package text/template so you can share its template API</code></span>
<span class="codeline" id="line-18"><code>to parse and execute HTML templates safely.</code></span>
<span class="codeline" id="line-19"><code></code></span>
<span class="codeline" id="line-20"><code>  tmpl, err := template.New("name").Parse(...)</code></span>
<span class="codeline" id="line-21"><code>  // Error checking elided</code></span>
<span class="codeline" id="line-22"><code>  err = tmpl.Execute(out, data)</code></span>
<span class="codeline" id="line-23"><code></code></span>
<span class="codeline" id="line-24"><code>If successful, tmpl will now be injection-safe. Otherwise, err is an error</code></span>
<span class="codeline" id="line-25"><code>defined in the docs for ErrorCode.</code></span>
<span class="codeline" id="line-26"><code></code></span>
<span class="codeline" id="line-27"><code>HTML templates treat data values as plain text which should be encoded so they</code></span>
<span class="codeline" id="line-28"><code>can be safely embedded in an HTML document. The escaping is contextual, so</code></span>
<span class="codeline" id="line-29"><code>actions can appear within JavaScript, CSS, and URI contexts.</code></span>
<span class="codeline" id="line-30"><code></code></span>
<span class="codeline" id="line-31"><code>The security model used by this package assumes that template authors are</code></span>
<span class="codeline" id="line-32"><code>trusted, while Execute's data parameter is not. More details are</code></span>
<span class="codeline" id="line-33"><code>provided below.</code></span>
<span class="codeline" id="line-34"><code></code></span>
<span class="codeline" id="line-35"><code>Example</code></span>
<span class="codeline" id="line-36"><code></code></span>
<span class="codeline" id="line-37"><code>  import "text/template"</code></span>
<span class="codeline" id="line-38"><code>  ...</code></span>
<span class="codeline" id="line-39"><code>  t, err := template.New("foo").Parse(`{{define "T"}}Hello, {{.}}!{{end}}`)</code></span>
<span class="codeline" id="line-40"><code>  err = t.ExecuteTemplate(out, "T", "&lt;script&gt;alert('you have been pwned')&lt;/script&gt;")</code></span>
<span class="codeline" id="line-41"><code></code></span>
<span class="codeline" id="line-42"><code>produces</code></span>
<span class="codeline" id="line-43"><code></code></span>
<span class="codeline" id="line-44"><code>  Hello, &lt;script&gt;alert('you have been pwned')&lt;/script&gt;!</code></span>
<span class="codeline" id="line-45"><code></code></span>
<span class="codeline" id="line-46"><code>but the contextual autoescaping in html/template</code></span>
<span class="codeline" id="line-47"><code></code></span>
<span class="codeline" id="line-48"><code>  import "html/template"</code></span>
<span class="codeline" id="line-49"><code>  ...</code></span>
<span class="codeline" id="line-50"><code>  t, err := template.New("foo").Parse(`{{define "T"}}Hello, {{.}}!{{end}}`)</code></span>
<span class="codeline" id="line-51"><code>  err = t.ExecuteTemplate(out, "T", "&lt;script&gt;alert('you have been pwned')&lt;/script&gt;")</code></span>
<span class="codeline" id="line-52"><code></code></span>
<span class="codeline" id="line-53"><code>produces safe, escaped HTML output</code></span>
<span class="codeline" id="line-54"><code></code></span>
<span class="codeline" id="line-55"><code>  Hello, &amp;lt;script&amp;gt;alert(&amp;#39;you have been pwned&amp;#39;)&amp;lt;/script&amp;gt;!</code></span>
<span class="codeline" id="line-56"><code></code></span>
<span class="codeline" id="line-57"><code></code></span>
<span class="codeline" id="line-58"><code>Contexts</code></span>
<span class="codeline" id="line-59"><code></code></span>
<span class="codeline" id="line-60"><code>This package understands HTML, CSS, JavaScript, and URIs. It adds sanitizing</code></span>
<span class="codeline" id="line-61"><code>functions to each simple action pipeline, so given the excerpt</code></span>
<span class="codeline" id="line-62"><code></code></span>
<span class="codeline" id="line-63"><code>  &lt;a href="/search?q={{.}}"&gt;{{.}}&lt;/a&gt;</code></span>
<span class="codeline" id="line-64"><code></code></span>
<span class="codeline" id="line-65"><code>At parse time each {{.}} is overwritten to add escaping functions as necessary.</code></span>
<span class="codeline" id="line-66"><code>In this case it becomes</code></span>
<span class="codeline" id="line-67"><code></code></span>
<span class="codeline" id="line-68"><code>  &lt;a href="/search?q={{. | urlescaper | attrescaper}}"&gt;{{. | htmlescaper}}&lt;/a&gt;</code></span>
<span class="codeline" id="line-69"><code></code></span>
<span class="codeline" id="line-70"><code>where urlescaper, attrescaper, and htmlescaper are aliases for internal escaping</code></span>
<span class="codeline" id="line-71"><code>functions.</code></span>
<span class="codeline" id="line-72"><code></code></span>
<span class="codeline" id="line-73"><code>For these internal escaping functions, if an action pipeline evaluates to</code></span>
<span class="codeline" id="line-74"><code>a nil interface value, it is treated as though it were an empty string.</code></span>
<span class="codeline" id="line-75"><code></code></span>
<span class="codeline" id="line-76"><code>Namespaced and data- attributes</code></span>
<span class="codeline" id="line-77"><code></code></span>
<span class="codeline" id="line-78"><code>Attributes with a namespace are treated as if they had no namespace.</code></span>
<span class="codeline" id="line-79"><code>Given the excerpt</code></span>
<span class="codeline" id="line-80"><code></code></span>
<span class="codeline" id="line-81"><code>  &lt;a my:href="{{.}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-82"><code></code></span>
<span class="codeline" id="line-83"><code>At parse time the attribute will be treated as if it were just "href".</code></span>
<span class="codeline" id="line-84"><code>So at parse time the template becomes:</code></span>
<span class="codeline" id="line-85"><code></code></span>
<span class="codeline" id="line-86"><code>  &lt;a my:href="{{. | urlescaper | attrescaper}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-87"><code></code></span>
<span class="codeline" id="line-88"><code>Similarly to attributes with namespaces, attributes with a "data-" prefix are</code></span>
<span class="codeline" id="line-89"><code>treated as if they had no "data-" prefix. So given</code></span>
<span class="codeline" id="line-90"><code></code></span>
<span class="codeline" id="line-91"><code>  &lt;a data-href="{{.}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-92"><code></code></span>
<span class="codeline" id="line-93"><code>At parse time this becomes</code></span>
<span class="codeline" id="line-94"><code></code></span>
<span class="codeline" id="line-95"><code>  &lt;a data-href="{{. | urlescaper | attrescaper}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-96"><code></code></span>
<span class="codeline" id="line-97"><code>If an attribute has both a namespace and a "data-" prefix, only the namespace</code></span>
<span class="codeline" id="line-98"><code>will be removed when determining the context. For example</code></span>
<span class="codeline" id="line-99"><code></code></span>
<span class="codeline" id="line-100"><code>  &lt;a my:data-href="{{.}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-101"><code></code></span>
<span class="codeline" id="line-102"><code>This is handled as if "my:data-href" was just "data-href" and not "href" as</code></span>
<span class="codeline" id="line-103"><code>it would be if the "data-" prefix were to be ignored too. Thus at parse</code></span>
<span class="codeline" id="line-104"><code>time this becomes just</code></span>
<span class="codeline" id="line-105"><code></code></span>
<span class="codeline" id="line-106"><code>  &lt;a my:data-href="{{. | attrescaper}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-107"><code></code></span>
<span class="codeline" id="line-108"><code>As a special case, attributes with the namespace "xmlns" are always treated</code></span>
<span class="codeline" id="line-109"><code>as containing URLs. Given the excerpts</code></span>
<span class="codeline" id="line-110"><code></code></span>
<span class="codeline" id="line-111"><code>  &lt;a xmlns:title="{{.}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-112"><code>  &lt;a xmlns:href="{{.}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-113"><code>  &lt;a xmlns:onclick="{{.}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-114"><code></code></span>
<span class="codeline" id="line-115"><code>At parse time they become:</code></span>
<span class="codeline" id="line-116"><code></code></span>
<span class="codeline" id="line-117"><code>  &lt;a xmlns:title="{{. | urlescaper | attrescaper}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-118"><code>  &lt;a xmlns:href="{{. | urlescaper | attrescaper}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-119"><code>  &lt;a xmlns:onclick="{{. | urlescaper | attrescaper}}"&gt;&lt;/a&gt;</code></span>
<span class="codeline" id="line-120"><code></code></span>
<span class="codeline" id="line-121"><code>Errors</code></span>
<span class="codeline" id="line-122"><code></code></span>
<span class="codeline" id="line-123"><code>See the documentation of ErrorCode for details.</code></span>
<span class="codeline" id="line-124"><code></code></span>
<span class="codeline" id="line-125"><code></code></span>
<span class="codeline" id="line-126"><code>A fuller picture</code></span>
<span class="codeline" id="line-127"><code></code></span>
<span class="codeline" id="line-128"><code>The rest of this package comment may be skipped on first reading; it includes</code></span>
<span class="codeline" id="line-129"><code>details necessary to understand escaping contexts and error messages. Most users</code></span>
<span class="codeline" id="line-130"><code>will not need to understand these details.</code></span>
<span class="codeline" id="line-131"><code></code></span>
<span class="codeline" id="line-132"><code></code></span>
<span class="codeline" id="line-133"><code>Contexts</code></span>
<span class="codeline" id="line-134"><code></code></span>
<span class="codeline" id="line-135"><code>Assuming {{.}} is `O'Reilly: How are &lt;i&gt;you&lt;/i&gt;?`, the table below shows</code></span>
<span class="codeline" id="line-136"><code>how {{.}} appears when used in the context to the left.</code></span>
<span class="codeline" id="line-137"><code></code></span>
<span class="codeline" id="line-138"><code>  Context                          {{.}} After</code></span>
<span class="codeline" id="line-139"><code>  {{.}}                            O'Reilly: How are &amp;lt;i&amp;gt;you&amp;lt;/i&amp;gt;?</code></span>
<span class="codeline" id="line-140"><code>  &lt;a title='{{.}}'&gt;                O&amp;#39;Reilly: How are you?</code></span>
<span class="codeline" id="line-141"><code>  &lt;a href="/{{.}}"&gt;                O&amp;#39;Reilly: How are %3ci%3eyou%3c/i%3e?</code></span>
<span class="codeline" id="line-142"><code>  &lt;a href="?q={{.}}"&gt;              O&amp;#39;Reilly%3a%20How%20are%3ci%3e...%3f</code></span>
<span class="codeline" id="line-143"><code>  &lt;a onx='f("{{.}}")'&gt;             O\x27Reilly: How are \x3ci\x3eyou...?</code></span>
<span class="codeline" id="line-144"><code>  &lt;a onx='f({{.}})'&gt;               "O\x27Reilly: How are \x3ci\x3eyou...?"</code></span>
<span class="codeline" id="line-145"><code>  &lt;a onx='pattern = /{{.}}/;'&gt;     O\x27Reilly: How are \x3ci\x3eyou...\x3f</code></span>
<span class="codeline" id="line-146"><code></code></span>
<span class="codeline" id="line-147"><code>If used in an unsafe context, then the value might be filtered out:</code></span>
<span class="codeline" id="line-148"><code></code></span>
<span class="codeline" id="line-149"><code>  Context                          {{.}} After</code></span>
<span class="codeline" id="line-150"><code>  &lt;a href="{{.}}"&gt;                 #ZgotmplZ</code></span>
<span class="codeline" id="line-151"><code></code></span>
<span class="codeline" id="line-152"><code>since "O'Reilly:" is not an allowed protocol like "http:".</code></span>
<span class="codeline" id="line-153"><code></code></span>
<span class="codeline" id="line-154"><code></code></span>
<span class="codeline" id="line-155"><code>If {{.}} is the innocuous word, `left`, then it can appear more widely,</code></span>
<span class="codeline" id="line-156"><code></code></span>
<span class="codeline" id="line-157"><code>  Context                              {{.}} After</code></span>
<span class="codeline" id="line-158"><code>  {{.}}                                left</code></span>
<span class="codeline" id="line-159"><code>  &lt;a title='{{.}}'&gt;                    left</code></span>
<span class="codeline" id="line-160"><code>  &lt;a href='{{.}}'&gt;                     left</code></span>
<span class="codeline" id="line-161"><code>  &lt;a href='/{{.}}'&gt;                    left</code></span>
<span class="codeline" id="line-162"><code>  &lt;a href='?dir={{.}}'&gt;                left</code></span>
<span class="codeline" id="line-163"><code>  &lt;a style="border-{{.}}: 4px"&gt;        left</code></span>
<span class="codeline" id="line-164"><code>  &lt;a style="align: {{.}}"&gt;             left</code></span>
<span class="codeline" id="line-165"><code>  &lt;a style="background: '{{.}}'&gt;       left</code></span>
<span class="codeline" id="line-166"><code>  &lt;a style="background: url('{{.}}')&gt;  left</code></span>
<span class="codeline" id="line-167"><code>  &lt;style&gt;p.{{.}} {color:red}&lt;/style&gt;   left</code></span>
<span class="codeline" id="line-168"><code></code></span>
<span class="codeline" id="line-169"><code>Non-string values can be used in JavaScript contexts.</code></span>
<span class="codeline" id="line-170"><code>If {{.}} is</code></span>
<span class="codeline" id="line-171"><code></code></span>
<span class="codeline" id="line-172"><code>  struct{A,B string}{ "foo", "bar" }</code></span>
<span class="codeline" id="line-173"><code></code></span>
<span class="codeline" id="line-174"><code>in the escaped template</code></span>
<span class="codeline" id="line-175"><code></code></span>
<span class="codeline" id="line-176"><code>  &lt;script&gt;var pair = {{.}};&lt;/script&gt;</code></span>
<span class="codeline" id="line-177"><code></code></span>
<span class="codeline" id="line-178"><code>then the template output is</code></span>
<span class="codeline" id="line-179"><code></code></span>
<span class="codeline" id="line-180"><code>  &lt;script&gt;var pair = {"A": "foo", "B": "bar"};&lt;/script&gt;</code></span>
<span class="codeline" id="line-181"><code></code></span>
<span class="codeline" id="line-182"><code>See package json to understand how non-string content is marshaled for</code></span>
<span class="codeline" id="line-183"><code>embedding in JavaScript contexts.</code></span>
<span class="codeline" id="line-184"><code></code></span>
<span class="codeline" id="line-185"><code></code></span>
<span class="codeline" id="line-186"><code>Typed Strings</code></span>
<span class="codeline" id="line-187"><code></code></span>
<span class="codeline" id="line-188"><code>By default, this package assumes that all pipelines produce a plain text string.</code></span>
<span class="codeline" id="line-189"><code>It adds escaping pipeline stages necessary to correctly and safely embed that</code></span>
<span class="codeline" id="line-190"><code>plain text string in the appropriate context.</code></span>
<span class="codeline" id="line-191"><code></code></span>
<span class="codeline" id="line-192"><code>When a data value is not plain text, you can make sure it is not over-escaped</code></span>
<span class="codeline" id="line-193"><code>by marking it with its type.</code></span>
<span class="codeline" id="line-194"><code></code></span>
<span class="codeline" id="line-195"><code>Types HTML, JS, URL, and others from content.go can carry safe content that is</code></span>
<span class="codeline" id="line-196"><code>exempted from escaping.</code></span>
<span class="codeline" id="line-197"><code></code></span>
<span class="codeline" id="line-198"><code>The template</code></span>
<span class="codeline" id="line-199"><code></code></span>
<span class="codeline" id="line-200"><code>  Hello, {{.}}!</code></span>
<span class="codeline" id="line-201"><code></code></span>
<span class="codeline" id="line-202"><code>can be invoked with</code></span>
<span class="codeline" id="line-203"><code></code></span>
<span class="codeline" id="line-204"><code>  tmpl.Execute(out, template.HTML(`&lt;b&gt;World&lt;/b&gt;`))</code></span>
<span class="codeline" id="line-205"><code></code></span>
<span class="codeline" id="line-206"><code>to produce</code></span>
<span class="codeline" id="line-207"><code></code></span>
<span class="codeline" id="line-208"><code>  Hello, &lt;b&gt;World&lt;/b&gt;!</code></span>
<span class="codeline" id="line-209"><code></code></span>
<span class="codeline" id="line-210"><code>instead of the</code></span>
<span class="codeline" id="line-211"><code></code></span>
<span class="codeline" id="line-212"><code>  Hello, &amp;lt;b&amp;gt;World&amp;lt;b&amp;gt;!</code></span>
<span class="codeline" id="line-213"><code></code></span>
<span class="codeline" id="line-214"><code>that would have been produced if {{.}} was a regular string.</code></span>
<span class="codeline" id="line-215"><code></code></span>
<span class="codeline" id="line-216"><code></code></span>
<span class="codeline" id="line-217"><code>Security Model</code></span>
<span class="codeline" id="line-218"><code></code></span>
<span class="codeline" id="line-219"><code>https://rawgit.com/mikesamuel/sanitized-jquery-templates/trunk/safetemplate.html#problem_definition defines "safe" as used by this package.</code></span>
<span class="codeline" id="line-220"><code></code></span>
<span class="codeline" id="line-221"><code>This package assumes that template authors are trusted, that Execute's data</code></span>
<span class="codeline" id="line-222"><code>parameter is not, and seeks to preserve the properties below in the face</code></span>
<span class="codeline" id="line-223"><code>of untrusted data:</code></span>
<span class="codeline" id="line-224"><code></code></span>
<span class="codeline" id="line-225"><code>Structure Preservation Property:</code></span>
<span class="codeline" id="line-226"><code>"... when a template author writes an HTML tag in a safe templating language,</code></span>
<span class="codeline" id="line-227"><code>the browser will interpret the corresponding portion of the output as a tag</code></span>
<span class="codeline" id="line-228"><code>regardless of the values of untrusted data, and similarly for other structures</code></span>
<span class="codeline" id="line-229"><code>such as attribute boundaries and JS and CSS string boundaries."</code></span>
<span class="codeline" id="line-230"><code></code></span>
<span class="codeline" id="line-231"><code>Code Effect Property:</code></span>
<span class="codeline" id="line-232"><code>"... only code specified by the template author should run as a result of</code></span>
<span class="codeline" id="line-233"><code>injecting the template output into a page and all code specified by the</code></span>
<span class="codeline" id="line-234"><code>template author should run as a result of the same."</code></span>
<span class="codeline" id="line-235"><code></code></span>
<span class="codeline" id="line-236"><code>Least Surprise Property:</code></span>
<span class="codeline" id="line-237"><code>"A developer (or code reviewer) familiar with HTML, CSS, and JavaScript, who</code></span>
<span class="codeline" id="line-238"><code>knows that contextual autoescaping happens should be able to look at a {{.}}</code></span>
<span class="codeline" id="line-239"><code>and correctly infer what sanitization happens."</code></span>
<span class="codeline" id="line-240"><code>*/</code></span></div><span class="codeline" id="line-241"><code>package template</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>