<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: template.go in package text/template</title>
<link href="../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	template.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/text/template.html">text/template</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>// Copyright 2011 The Go Authors. All rights reserved.</code></span>
<span class="codeline" id="line-2"><code>// Use of this source code is governed by a BSD-style</code></span>
<span class="codeline" id="line-3"><code>// license that can be found in the LICENSE file.</code></span>
<span class="codeline" id="line-4"><code></code></span>
<span class="codeline" id="line-5"><code>package template</code></span>
<span class="codeline" id="line-6"><code></code></span>
<span class="codeline" id="line-7"><code>import (</code></span>
<span class="codeline" id="line-8"><code>	"reflect"</code></span>
<span class="codeline" id="line-9"><code>	"sync"</code></span>
<span class="codeline" id="line-10"><code>	"text/template/parse"</code></span>
<span class="codeline" id="line-11"><code>)</code></span>
<span class="codeline" id="line-12"><code></code></span>
<span class="codeline" id="line-13"><code>// common holds the information shared by related templates.</code></span>
<span class="codeline" id="line-14"><code>type common struct {</code></span>
<span class="codeline" id="line-15"><code>	tmpl   map[string]*Template // Map from name to defined templates.</code></span>
<span class="codeline" id="line-16"><code>	option option</code></span>
<span class="codeline" id="line-17"><code>	// We use two maps, one for parsing and one for execution.</code></span>
<span class="codeline" id="line-18"><code>	// This separation makes the API cleaner since it doesn't</code></span>
<span class="codeline" id="line-19"><code>	// expose reflection to the client.</code></span>
<span class="codeline" id="line-20"><code>	muFuncs    sync.RWMutex // protects parseFuncs and execFuncs</code></span>
<span class="codeline" id="line-21"><code>	parseFuncs FuncMap</code></span>
<span class="codeline" id="line-22"><code>	execFuncs  map[string]reflect.Value</code></span>
<span class="codeline" id="line-23"><code>}</code></span>
<span class="codeline" id="line-24"><code></code></span>
<span class="codeline" id="line-25"><code>// Template is the representation of a parsed template. The *parse.Tree</code></span>
<span class="codeline" id="line-26"><code>// field is exported only for use by html/template and should be treated</code></span>
<span class="codeline" id="line-27"><code>// as unexported by all other clients.</code></span>
<span class="codeline" id="line-28"><code>type Template struct {</code></span>
<span class="codeline" id="line-29"><code>	name string</code></span>
<span class="codeline" id="line-30"><code>	*parse.Tree</code></span>
<span class="codeline" id="line-31"><code>	*common</code></span>
<span class="codeline" id="line-32"><code>	leftDelim  string</code></span>
<span class="codeline" id="line-33"><code>	rightDelim string</code></span>
<span class="codeline" id="line-34"><code>}</code></span>
<span class="codeline" id="line-35"><code></code></span>
<span class="codeline" id="line-36"><code>// New allocates a new, undefined template with the given name.</code></span>
<span class="codeline" id="line-37"><code>func New(name string) *Template {</code></span>
<span class="codeline" id="line-38"><code>	t := &amp;Template{</code></span>
<span class="codeline" id="line-39"><code>		name: name,</code></span>
<span class="codeline" id="line-40"><code>	}</code></span>
<span class="codeline" id="line-41"><code>	t.init()</code></span>
<span class="codeline" id="line-42"><code>	return t</code></span>
<span class="codeline" id="line-43"><code>}</code></span>
<span class="codeline" id="line-44"><code></code></span>
<span class="codeline" id="line-45"><code>// Name returns the name of the template.</code></span>
<span class="codeline" id="line-46"><code>func (t *Template) Name() string {</code></span>
<span class="codeline" id="line-47"><code>	return t.name</code></span>
<span class="codeline" id="line-48"><code>}</code></span>
<span class="codeline" id="line-49"><code></code></span>
<span class="codeline" id="line-50"><code>// New allocates a new, undefined template associated with the given one and with the same</code></span>
<span class="codeline" id="line-51"><code>// delimiters. The association, which is transitive, allows one template to</code></span>
<span class="codeline" id="line-52"><code>// invoke another with a {{template}} action.</code></span>
<span class="codeline" id="line-53"><code>//</code></span>
<span class="codeline" id="line-54"><code>// Because associated templates share underlying data, template construction</code></span>
<span class="codeline" id="line-55"><code>// cannot be done safely in parallel. Once the templates are constructed, they</code></span>
<span class="codeline" id="line-56"><code>// can be executed in parallel.</code></span>
<span class="codeline" id="line-57"><code>func (t *Template) New(name string) *Template {</code></span>
<span class="codeline" id="line-58"><code>	t.init()</code></span>
<span class="codeline" id="line-59"><code>	nt := &amp;Template{</code></span>
<span class="codeline" id="line-60"><code>		name:       name,</code></span>
<span class="codeline" id="line-61"><code>		common:     t.common,</code></span>
<span class="codeline" id="line-62"><code>		leftDelim:  t.leftDelim,</code></span>
<span class="codeline" id="line-63"><code>		rightDelim: t.rightDelim,</code></span>
<span class="codeline" id="line-64"><code>	}</code></span>
<span class="codeline" id="line-65"><code>	return nt</code></span>
<span class="codeline" id="line-66"><code>}</code></span>
<span class="codeline" id="line-67"><code></code></span>
<span class="codeline" id="line-68"><code>// init guarantees that t has a valid common structure.</code></span>
<span class="codeline" id="line-69"><code>func (t *Template) init() {</code></span>
<span class="codeline" id="line-70"><code>	if t.common == nil {</code></span>
<span class="codeline" id="line-71"><code>		c := new(common)</code></span>
<span class="codeline" id="line-72"><code>		c.tmpl = make(map[string]*Template)</code></span>
<span class="codeline" id="line-73"><code>		c.parseFuncs = make(FuncMap)</code></span>
<span class="codeline" id="line-74"><code>		c.execFuncs = make(map[string]reflect.Value)</code></span>
<span class="codeline" id="line-75"><code>		t.common = c</code></span>
<span class="codeline" id="line-76"><code>	}</code></span>
<span class="codeline" id="line-77"><code>}</code></span>
<span class="codeline" id="line-78"><code></code></span>
<span class="codeline" id="line-79"><code>// Clone returns a duplicate of the template, including all associated</code></span>
<span class="codeline" id="line-80"><code>// templates. The actual representation is not copied, but the name space of</code></span>
<span class="codeline" id="line-81"><code>// associated templates is, so further calls to Parse in the copy will add</code></span>
<span class="codeline" id="line-82"><code>// templates to the copy but not to the original. Clone can be used to prepare</code></span>
<span class="codeline" id="line-83"><code>// common templates and use them with variant definitions for other templates</code></span>
<span class="codeline" id="line-84"><code>// by adding the variants after the clone is made.</code></span>
<span class="codeline" id="line-85"><code>func (t *Template) Clone() (*Template, error) {</code></span>
<span class="codeline" id="line-86"><code>	nt := t.copy(nil)</code></span>
<span class="codeline" id="line-87"><code>	nt.init()</code></span>
<span class="codeline" id="line-88"><code>	if t.common == nil {</code></span>
<span class="codeline" id="line-89"><code>		return nt, nil</code></span>
<span class="codeline" id="line-90"><code>	}</code></span>
<span class="codeline" id="line-91"><code>	for k, v := range t.tmpl {</code></span>
<span class="codeline" id="line-92"><code>		if k == t.name {</code></span>
<span class="codeline" id="line-93"><code>			nt.tmpl[t.name] = nt</code></span>
<span class="codeline" id="line-94"><code>			continue</code></span>
<span class="codeline" id="line-95"><code>		}</code></span>
<span class="codeline" id="line-96"><code>		// The associated templates share nt's common structure.</code></span>
<span class="codeline" id="line-97"><code>		tmpl := v.copy(nt.common)</code></span>
<span class="codeline" id="line-98"><code>		nt.tmpl[k] = tmpl</code></span>
<span class="codeline" id="line-99"><code>	}</code></span>
<span class="codeline" id="line-100"><code>	t.muFuncs.RLock()</code></span>
<span class="codeline" id="line-101"><code>	defer t.muFuncs.RUnlock()</code></span>
<span class="codeline" id="line-102"><code>	for k, v := range t.parseFuncs {</code></span>
<span class="codeline" id="line-103"><code>		nt.parseFuncs[k] = v</code></span>
<span class="codeline" id="line-104"><code>	}</code></span>
<span class="codeline" id="line-105"><code>	for k, v := range t.execFuncs {</code></span>
<span class="codeline" id="line-106"><code>		nt.execFuncs[k] = v</code></span>
<span class="codeline" id="line-107"><code>	}</code></span>
<span class="codeline" id="line-108"><code>	return nt, nil</code></span>
<span class="codeline" id="line-109"><code>}</code></span>
<span class="codeline" id="line-110"><code></code></span>
<span class="codeline" id="line-111"><code>// copy returns a shallow copy of t, with common set to the argument.</code></span>
<span class="codeline" id="line-112"><code>func (t *Template) copy(c *common) *Template {</code></span>
<span class="codeline" id="line-113"><code>	return &amp;Template{</code></span>
<span class="codeline" id="line-114"><code>		name:       t.name,</code></span>
<span class="codeline" id="line-115"><code>		Tree:       t.Tree,</code></span>
<span class="codeline" id="line-116"><code>		common:     c,</code></span>
<span class="codeline" id="line-117"><code>		leftDelim:  t.leftDelim,</code></span>
<span class="codeline" id="line-118"><code>		rightDelim: t.rightDelim,</code></span>
<span class="codeline" id="line-119"><code>	}</code></span>
<span class="codeline" id="line-120"><code>}</code></span>
<span class="codeline" id="line-121"><code></code></span>
<span class="codeline" id="line-122"><code>// AddParseTree associates the argument parse tree with the template t, giving</code></span>
<span class="codeline" id="line-123"><code>// it the specified name. If the template has not been defined, this tree becomes</code></span>
<span class="codeline" id="line-124"><code>// its definition. If it has been defined and already has that name, the existing</code></span>
<span class="codeline" id="line-125"><code>// definition is replaced; otherwise a new template is created, defined, and returned.</code></span>
<span class="codeline" id="line-126"><code>func (t *Template) AddParseTree(name string, tree *parse.Tree) (*Template, error) {</code></span>
<span class="codeline" id="line-127"><code>	t.init()</code></span>
<span class="codeline" id="line-128"><code>	nt := t</code></span>
<span class="codeline" id="line-129"><code>	if name != t.name {</code></span>
<span class="codeline" id="line-130"><code>		nt = t.New(name)</code></span>
<span class="codeline" id="line-131"><code>	}</code></span>
<span class="codeline" id="line-132"><code>	// Even if nt == t, we need to install it in the common.tmpl map.</code></span>
<span class="codeline" id="line-133"><code>	if t.associate(nt, tree) || nt.Tree == nil {</code></span>
<span class="codeline" id="line-134"><code>		nt.Tree = tree</code></span>
<span class="codeline" id="line-135"><code>	}</code></span>
<span class="codeline" id="line-136"><code>	return nt, nil</code></span>
<span class="codeline" id="line-137"><code>}</code></span>
<span class="codeline" id="line-138"><code></code></span>
<span class="codeline" id="line-139"><code>// Templates returns a slice of defined templates associated with t.</code></span>
<span class="codeline" id="line-140"><code>func (t *Template) Templates() []*Template {</code></span>
<span class="codeline" id="line-141"><code>	if t.common == nil {</code></span>
<span class="codeline" id="line-142"><code>		return nil</code></span>
<span class="codeline" id="line-143"><code>	}</code></span>
<span class="codeline" id="line-144"><code>	// Return a slice so we don't expose the map.</code></span>
<span class="codeline" id="line-145"><code>	m := make([]*Template, 0, len(t.tmpl))</code></span>
<span class="codeline" id="line-146"><code>	for _, v := range t.tmpl {</code></span>
<span class="codeline" id="line-147"><code>		m = append(m, v)</code></span>
<span class="codeline" id="line-148"><code>	}</code></span>
<span class="codeline" id="line-149"><code>	return m</code></span>
<span class="codeline" id="line-150"><code>}</code></span>
<span class="codeline" id="line-151"><code></code></span>
<span class="codeline" id="line-152"><code>// Delims sets the action delimiters to the specified strings, to be used in</code></span>
<span class="codeline" id="line-153"><code>// subsequent calls to Parse, ParseFiles, or ParseGlob. Nested template</code></span>
<span class="codeline" id="line-154"><code>// definitions will inherit the settings. An empty delimiter stands for the</code></span>
<span class="codeline" id="line-155"><code>// corresponding default: {{ or }}.</code></span>
<span class="codeline" id="line-156"><code>// The return value is the template, so calls can be chained.</code></span>
<span class="codeline" id="line-157"><code>func (t *Template) Delims(left, right string) *Template {</code></span>
<span class="codeline" id="line-158"><code>	t.init()</code></span>
<span class="codeline" id="line-159"><code>	t.leftDelim = left</code></span>
<span class="codeline" id="line-160"><code>	t.rightDelim = right</code></span>
<span class="codeline" id="line-161"><code>	return t</code></span>
<span class="codeline" id="line-162"><code>}</code></span>
<span class="codeline" id="line-163"><code></code></span>
<span class="codeline" id="line-164"><code>// Funcs adds the elements of the argument map to the template's function map.</code></span>
<span class="codeline" id="line-165"><code>// It must be called before the template is parsed.</code></span>
<span class="codeline" id="line-166"><code>// It panics if a value in the map is not a function with appropriate return</code></span>
<span class="codeline" id="line-167"><code>// type or if the name cannot be used syntactically as a function in a template.</code></span>
<span class="codeline" id="line-168"><code>// It is legal to overwrite elements of the map. The return value is the template,</code></span>
<span class="codeline" id="line-169"><code>// so calls can be chained.</code></span>
<span class="codeline" id="line-170"><code>func (t *Template) Funcs(funcMap FuncMap) *Template {</code></span>
<span class="codeline" id="line-171"><code>	t.init()</code></span>
<span class="codeline" id="line-172"><code>	t.muFuncs.Lock()</code></span>
<span class="codeline" id="line-173"><code>	defer t.muFuncs.Unlock()</code></span>
<span class="codeline" id="line-174"><code>	addValueFuncs(t.execFuncs, funcMap)</code></span>
<span class="codeline" id="line-175"><code>	addFuncs(t.parseFuncs, funcMap)</code></span>
<span class="codeline" id="line-176"><code>	return t</code></span>
<span class="codeline" id="line-177"><code>}</code></span>
<span class="codeline" id="line-178"><code></code></span>
<span class="codeline" id="line-179"><code>// Lookup returns the template with the given name that is associated with t.</code></span>
<span class="codeline" id="line-180"><code>// It returns nil if there is no such template or the template has no definition.</code></span>
<span class="codeline" id="line-181"><code>func (t *Template) Lookup(name string) *Template {</code></span>
<span class="codeline" id="line-182"><code>	if t.common == nil {</code></span>
<span class="codeline" id="line-183"><code>		return nil</code></span>
<span class="codeline" id="line-184"><code>	}</code></span>
<span class="codeline" id="line-185"><code>	return t.tmpl[name]</code></span>
<span class="codeline" id="line-186"><code>}</code></span>
<span class="codeline" id="line-187"><code></code></span>
<span class="codeline" id="line-188"><code>// Parse parses text as a template body for t.</code></span>
<span class="codeline" id="line-189"><code>// Named template definitions ({{define ...}} or {{block ...}} statements) in text</code></span>
<span class="codeline" id="line-190"><code>// define additional templates associated with t and are removed from the</code></span>
<span class="codeline" id="line-191"><code>// definition of t itself.</code></span>
<span class="codeline" id="line-192"><code>//</code></span>
<span class="codeline" id="line-193"><code>// Templates can be redefined in successive calls to Parse.</code></span>
<span class="codeline" id="line-194"><code>// A template definition with a body containing only white space and comments</code></span>
<span class="codeline" id="line-195"><code>// is considered empty and will not replace an existing template's body.</code></span>
<span class="codeline" id="line-196"><code>// This allows using Parse to add new named template definitions without</code></span>
<span class="codeline" id="line-197"><code>// overwriting the main template body.</code></span>
<span class="codeline" id="line-198"><code>func (t *Template) Parse(text string) (*Template, error) {</code></span>
<span class="codeline" id="line-199"><code>	t.init()</code></span>
<span class="codeline" id="line-200"><code>	t.muFuncs.RLock()</code></span>
<span class="codeline" id="line-201"><code>	trees, err := parse.Parse(t.name, text, t.leftDelim, t.rightDelim, t.parseFuncs, builtins())</code></span>
<span class="codeline" id="line-202"><code>	t.muFuncs.RUnlock()</code></span>
<span class="codeline" id="line-203"><code>	if err != nil {</code></span>
<span class="codeline" id="line-204"><code>		return nil, err</code></span>
<span class="codeline" id="line-205"><code>	}</code></span>
<span class="codeline" id="line-206"><code>	// Add the newly parsed trees, including the one for t, into our common structure.</code></span>
<span class="codeline" id="line-207"><code>	for name, tree := range trees {</code></span>
<span class="codeline" id="line-208"><code>		if _, err := t.AddParseTree(name, tree); err != nil {</code></span>
<span class="codeline" id="line-209"><code>			return nil, err</code></span>
<span class="codeline" id="line-210"><code>		}</code></span>
<span class="codeline" id="line-211"><code>	}</code></span>
<span class="codeline" id="line-212"><code>	return t, nil</code></span>
<span class="codeline" id="line-213"><code>}</code></span>
<span class="codeline" id="line-214"><code></code></span>
<span class="codeline" id="line-215"><code>// associate installs the new template into the group of templates associated</code></span>
<span class="codeline" id="line-216"><code>// with t. The two are already known to share the common structure.</code></span>
<span class="codeline" id="line-217"><code>// The boolean return value reports whether to store this tree as t.Tree.</code></span>
<span class="codeline" id="line-218"><code>func (t *Template) associate(new *Template, tree *parse.Tree) bool {</code></span>
<span class="codeline" id="line-219"><code>	if new.common != t.common {</code></span>
<span class="codeline" id="line-220"><code>		panic("internal error: associate not common")</code></span>
<span class="codeline" id="line-221"><code>	}</code></span>
<span class="codeline" id="line-222"><code>	if old := t.tmpl[new.name]; old != nil &amp;&amp; parse.IsEmptyTree(tree.Root) &amp;&amp; old.Tree != nil {</code></span>
<span class="codeline" id="line-223"><code>		// If a template by that name exists,</code></span>
<span class="codeline" id="line-224"><code>		// don't replace it with an empty template.</code></span>
<span class="codeline" id="line-225"><code>		return false</code></span>
<span class="codeline" id="line-226"><code>	}</code></span>
<span class="codeline" id="line-227"><code>	t.tmpl[new.name] = new</code></span>
<span class="codeline" id="line-228"><code>	return true</code></span>
<span class="codeline" id="line-229"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>